body{
    margin: 0px;
    padding: 0px;
}
div{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}
header{
    height: 150px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
nav{
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}